<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <meta name="referrer" content="no-referrer" />
    <title></title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .main {
            padding: 0.25rem;
            line-height: 0.6rem;
            font-size: 0.4rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/resizeFontSize.js"></script>
    <script src="/js/logic.js"></script>
</head>

<body>
    <div class="header-navs">
        <% if (allShow == 'allShow') { %>
        <span class="nav-li active" id="allShow">全部</span>
        <% } else { %>
        <span class="nav-li" id="allShow">全部</span>
        <% } %>

        <% for(let i in menus){ %>
        <% if (fid == menus[i].fid) { %>
        <span class="nav-li active" id=<%= menus[i].fid %>><%= menus[i].name %></span>
        <% } else { %>
        <span class="nav-li" id=<%= menus[i].fid %>><%= menus[i].name %></span>
        <% } %>
        <% } %>

        <% for(let i in subMenus){ %>
        <% if (tid == subMenus[i].tid) { %>
        <span class="nav-li-sub active" id=<%= subMenus[i].tid %>><%= subMenus[i].subject %></span>
        <% } else { %>
        <span class="nav-li-sub" id=<%= subMenus[i].tid %>><%= subMenus[i].subject %></span>
        <% } %>
        <% } %>
    </div>
    <br>
    <br>
    <div class="main">
        <br>
        <h3 style="text-align:center; color: olivedrab"><%= subTitle %></h3>
        <br>
        <%- article %>
    </div>
</body>

</html>